[submodule "gnu_repos/gcc"]
	path = gnu_repos/gcc
	url = https://gcc.gnu.org/git/gcc.git
[submodule "gnu_repos/binutils-gdb"]
	path = gnu_repos/binutils-gdb
	url = https://github.com/bminor/binutils-gdb.git
